[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
beautifulsoup4 = "*"
click = "*"
lxml = "*"
sentry-sdk = "*"
smart-open = {version = "*", extras = ["s3"]}

[dev-packages]
bandit = "*"
black = "*"
coverage = "*"
coveralls = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pytest = "*"

[requires]
python_version = "3.10"

[scripts]
transform = "python -c \"from transmogrifier.cli import main; main()\""
