[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
beautifulsoup4 = "*"
click = "*"
jsonlines = "*"
lxml = "*"
lxml-stubs = "*"
pyarrow = "*"
python-dateutil = "*"
sentry-sdk = "*"
smart-open = {version = "*", extras = ["s3"]}
types-python-dateutil = "*"

[dev-packages]
black = "*"
coveralls = "*"
ipython = "*"
mypy = "*"
pre-commit = "*"
pyarrow-stubs = "*"
pytest = "*"
ruff = "*"
safety = "*"

[requires]
python_version = "3.12"

[scripts]
transform = "python -c \"from transmogrifier.cli import main; main()\""
